{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Mon Carnet d'adresse{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
  <nav class="navbar navbar-default">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
</nav>
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Mon carnet d'adresse</h1>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Menu</h3>
        <ul class="nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Mon compte <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
    
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('fos_user_profile_show') }}">Mes contacts <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                             <li><a href="{{ path('gest_cont_contact_lister') }}">Lister mes contacts</a></li>
                            <li><a href="{{ path('gest_cont_contact_ajouter') }}">Ajouter un contact</a></li>
    
                            <li><a href="{{ path('gest_cont_contact_supp') }}">Supprimer un contact</a></li>
    
                        </ul>
                    </li>
                   
                </ul>
        
      </div>
        
      <div id="content" class="col-md-9">
       
        {% block body %}
           
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
        <p>Eric Pauwawe © {{ 'now'|date('Y') }}</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>
