{% extends 'gestContContactBundle::layout.html.twig' %}
{% block body %}
             
          
<form action="{{ path('gest_cont_contact_ajouter') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">

  {{ form_errors(form) }}
     <div class="form-group">
      {{ form_label(form.user2,null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.user2) }}
        <div class="col-sm-4">
          {{ form_widget(form.user2, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_rest(form) }}
     <div class="form-group">
       <div class="col-sm-offset-3 col-sm-5">
        <button class="btn btn-primary" type="submit">Ajouter aux contacts <span class="glyphicon glyphicon-plus"></span></button>
       </div>
    </div>  
    
</form>
        
  {% endblock body %}